@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --color-primary: #fef08a;
  --color-background: #fff7ed;
  --color-secondary: #fde047;
  --color-secondary-alt: #eab308;
  --color-links: #404040;
  --font-headers: "Playfair Display", serif;
  --font-text: "Ubuntu", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 4.5rem auto;
}

header {
  z-index: 1;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  padding: 0px 5%;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.links {
  display: flex;
  gap: 16px;
  list-style: none;
}

li button {
  background-color: var(--color-secondary);
  color: black;
  border: none;
  border-radius: 16px;
  padding: 4px 16px;
  font-family: var(--font-text);
  &:hover {
    transition: 200ms;
    background-color: var(--color-secondary-alt);
  }
}

.about-content {
  font-family: var(--font-text);
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
  display: grid;
  place-content: center;
  grid-template-rows: 1fr 32px;
  grid-template-columns: 1fr;
}

.about-container {
  place-self: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  aspect-ratio: 2/1;
  width: 90%;
  height: 80%;
}

.about-text {
  line-height: 40px;
  padding-bottom: 24px;
  font-size: 3rem;
  align-self: self-end;
}

.about-subtext {
  grid-row: 2;
  max-width: 40ch;
}

.about-image {
  align-self: center;
  justify-self: right;
  padding-right: 24px;
  grid-row: 1/3;
  grid-column: 1;
  & > img {
    aspect-ratio: 350/400;
    height: auto;
    width: 350px;
    border-radius: 16px;
  }
}
